<footer class="bg-white dark:bg-blacksection border-t border-stroke dark:border-strokedark">
  <div class="mx-auto max-w-c-1390 px-4 md:px-8 2xl:px-0">
    <!-- Footer Bottom -->
    <div class="border-t border-stroke dark:border-strokedark flex flex-wrap flex-col lg:flex-row items-center justify-center lg:justify-between gap-5 lg:gap-0 py-7">
      <div class="animate_top">
        <footer className="text-white text-xs">
          <div className="fixed bg-[#111827] bottom-0 left-0 z-20 w-full border-t border-gray-200 shadow md:flex md:items-center md:justify-between p-3 dark:border-gray-600">
            <p>&copy; 2024 Blackshore Technologies Inc. All rights reserved.</p>
            <nav className="mt-2">
              <ul className="flex justify-center space-x-4">
              <li>
              <a href="mailto:info@blackshoretechnologies.com" className="hover:underline">Contact/Support</a>
            </li>
                <li>
                  <a href="https:currencycaptain.com/riskDisclaimer" className="hover:underline">Risk Disclaimer</a>
                </li>
                <li>
                  <a href="https:currencycaptain.com/privacy-policy" className="hover:underline">Privacy Policy</a>
                </li>
                <li>
                  <a href="https:currencycaptain.com/terms" className="hover:underline">Terms</a>
                </li>
                <li>
                  <a href="https:currencycaptain.com/earnings-disclaimer" className="hover:underline">Earnings Disclaimer</a>
                </li>
              </ul>
            </nav>
          </div>
          </footer>
    </div>
    
      <div class="animate_top">
        
      </div>
    </div>
    <!-- Footer Bottom -->
  </div>
</footer>
